*{
    margin: 0px;
    padding: 0px;
}
.user-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.input-container{
    height: 200px;
    width: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#in-btn{
    height: 30px;
    width: 80px;
    border-radius: 10px;
    font-size:medium;
    font-weight: bold;
}
