
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main-co {
    /* min-height: 100vh; */
    /* width: 1200px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: auto;
    position: relative;
    overflow: hidden;
    
}


#tik-con {
    width: 95%;
    max-width: 1200px;
    background: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

#check {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

#check label {
    font-weight: bold;
    color: #424141;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

#abcx {
    display: flex;
    flex-wrap: wrap;
    background: #d7d4d4c4; 
    padding: 20px;
    border-radius: 15px;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}

.lab {
    flex: 2;
    color: rgb(35, 34, 34);
}

.lab h2 {
    color: #20c465; 
    font-size: 1.5rem;
}

.lab p {
    font-size: 0.8rem;
    color: #0b0b0b;
}

.lab select, #dat, .seat select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.start, .seat {
    flex: 1;
    color: rgb(21, 20, 20);
    font-size: 0.9rem;
}

#offer-con {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    margin-top: 30px;
}

.off {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 12px;
    border-left: 5px solid #FF8C00; 
    border-right: 6px solid #16f9a2;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.off:hover {
    transform: translateY(-5px);
    background: #fff5e6;
}

.off2 {
    background: #2ecc71;
    color: white;
    border: none;
    text-align: center;
}

.off3 h3 {
    color: #FF8C00;
}

#track {
    background: #000000;
    color: #2ecc71;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

#track:hover {
    background: #222;
}


input[type="checkbox"] {
    accent-color: #64f7a1;
}


@media (max-width: 768px) {
    #abcx {
        flex-direction: column;
        align-items: flex-start;
    }
}