#container{
    height:auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: auto;
    background-color:rgb(237, 243, 242);
    gap: 20px;
}
#img-con{
    display: flex;
    gap: 20px;
    padding:15px;
}
img{
    border-radius: 17px;
}