*{
    margin: 0px;
    padding: 0px;
}
.log-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-container{
    height: 100px;
    width: 300px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.btn{
    height: 30px;
    width: 80px;
    border-radius: 10px;
    font-size:medium;
    font-weight: bold;
}


